/* app/globals.css */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #000000; /* Retro Black */
  --foreground: #cc33ff; /* Bright Purple */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}