/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.control {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.hidden {
  display: none;
}
